.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    width: 400px;
    background: #fff;
    border-radius: 20px;
    padding: 50px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form input {
    width: 75%;
}

.form h1 {
    font: 700 36px Arial;
}

.form input:not([type="submit"]) {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #a25400;
    font: 400 16px Arial;
    outline: none;
}

.form input:not([type="submit"]):focus {
    transform: scale(1.1);
}

.form p {
    font: 400 16px Arial;
    color: red;
}