body {
    flex-direction: unset;
    column-gap: 20px;
    align-items: stretch;
    height: unset;
    padding-bottom: 20px;
}

.dark {
    background: #0d1117;
}

.theme {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 50px;
    width: 100%;
    background: #fff;
    padding: 30px;
}

.dark .theme {
    background: #010409;
    border-bottom: 1px solid #fff;
}

#file {
    display: none;
}

table {
    border-collapse: collapse;
}

td {
    border: 3px solid #000;
    font: 600 16px Arial;
    color: #000;
    padding: 10px;
}

.best td {
    background: #c2ffae;
}

.dark .best td {
    background: #1f6feb;
}

.main-block,
.changeAva {
    max-width: 300px;
    background: #fff;
    border-radius: 20px;
    padding: 20px 75px;
}

.dark .main-block, 
.dark .changeAva {
    background: #151b23;
    border: 1px solid #fff;
}

.dark .main-block table td {
    border: 3px solid #fff;
}

.dark .main-block table td:not(.best td) {
    color: #fff;
}

.dark .main-block p, 
.dark .changeAva h2 {
    color: #fff;
}

.dark .main-block label img {
    border: 2px solid #fff;
}

.changeAvaBody {
    align-items: center;
}

.changeAva {
    row-gap: 75px;
    max-width: 300px;
    padding: 50px;
}

.changeAva .form-block {
    max-width: unset;
}

.changeAva input[type="file"] {
    min-width: unset;
    max-width: 275px;
    font-size: 20px;
}

.main-block:first-child {
    margin-right: 30px;
}

.main-block:last-child {
    max-width: 700px;
    max-height: 560px;
    overflow-y: scroll;
}

.main-block:last-child::-webkit-scrollbar {
    display: none;
}

.name-block {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 20px;
}

.name-block p {
    font: 500 20px Arial;
}

.name-block label:hover {
    cursor: pointer;
}

.name-block img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.button {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.red {
    background: red;
    border: 2px solid #8e0000;
}

.red:hover {
    background: #db0000;
    border: 2px solid #8e0000;
}

.green {
    background: #07d800;
    border: 3px solid #00bb19;
}

.green:hover {
    background: #07d200;
    border: 3px solid #00bb19;
}

.dark .green, 
.dark .changeAva .button {
    background: #1f6feb;
    border: 3px solid #1f6feb;
}

.dark .nameReplace-block .button {
    background: #1f6feb;
    border: 3px solid #1f6feb;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-bottom: 15px;
}

.nameReplace-block .button {
    margin-bottom: 15px;
}

.end-block {
    display: flex;
    column-gap: 10px;
}

.changeAva h2 {
    font: 700 32px Arial;
}

.changeAva input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #a25400;
    font: 400 16px Arial;
    margin-bottom: 60px;
    outline: none;
    transition: all 0.3s ease;
}

.changeAva input[type="text"]:focus {
    transform: scale(1.02);
}

.done {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #a25400;
    font: 400 16px Arial;
    transition: all 0.3s ease;
}

.hov-one:hover {
    color: #fff;
    background-color: #00d304;
    border: 1px solid transparent;
    transform: scale(1.05);
}

.hov-two:hover {
    color: #fff;
    background-color: #d30000;
    border: 1px solid transparent;
    transform: scale(1.05);
}

.results {
    font: 400 16px Arial;
    margin: 0;
}

.last-results {
    font: 700 20px Arial;
    margin-bottom: 5px;
}

.results {
    padding-left: 15px;
}