body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background: center url(../img/bg.svg); */
}

.count {
    position: absolute;
    top: 0;
    left: 20px;
    color: #fff;
    font: 500 24px Arial;
}

.question {
    background: #fff;
    padding: 150px;
    border-radius: 10px;
    text-align: center;
    font: 500 24px Arial;
    margin-top: 0;
}

.question-block {
    background: #ff9d00;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.answer {
    background: #e37500;
    width: 100px;
    height: 100px;
    margin: 50px 100px;
    border: none;
    color: #fff;
    border-radius: 10px;
    font: 500 24px Arial;
    transition: all 0.3s ease;
}

.answerL {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e37500;
    width: 250px;
    height: 110px;
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 10px;
    font: 500 24px Arial;
    transition: all 0.3s ease;
}

.answerL:hover {
    background: #c96800;
}

.answer:checked+.answerL {
    background: #c96800;
}

.reletive {
    position: relative;
}

.answer-block {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}


/* .answer:nth-child(1) {
    background: red;
}

.answer:nth-child(2) {
    background:  green;
}

.answer:nth-child(3) {
    background: blue;
}

.answer:nth-child(4) {
    background: #ffdd00;
} */